ENTRA_ID_TENANT_ID=d1cc8424-68cd-47e9-8d63-ff8dbbf9e6bc
ENTRA_ID_CLIENT_ID=6b7af4a5-5be2-4f0b-91c4-b71cb9c04129
ENTRA_ID_CLIENT_SECRET=****************
ENTRA_ID_CLIENT_SECRET_SHA=0AEF645F6649E3CE81B8A9B21FDCDD6F77AC4BB09A2917DA354522FF6DC363BD
ENTRA_ID_REDIRECT_URI=http://localhost:8080/smvc/login/oauth2/code/entra
MARIADB_PASSWORD=***************
MARIADB_PASSWORD_SHA=17B0FA5054EE0F621D721392748EA3A8B744F20986BF0E3D5DEEF17C348EB817
MARIADB_SMVC_USER=2c1dd8ae
MARIADB_SMVC_PASS=**************
MARIADB_SMVC_SHA=D6BA4A200961D690EA7D084F668FA328A96052F1CAFECD19BA926E4781EEA1E5
STATUS_API_URL=http://localhost:8000/
PHP_API_SCOPE=api://bf53ad5f-760d-40e8-a6db-467eacada791/access_as_user

AZURE_DEVOPS_EXT_PAT=******************
AZURE_DEVOPS_EXT_PAT_MASK=35736EE900187EC30BC3FE2ABCDD0137EDEC34DE48ECDB0DB7D4975BFB16F0FF
NEXUS_DEPLOYMENT_PASSWORD=************
NEXUS_DEPLOYMENT_PASSWORD_MASK=F59D23F07041DD909D283F299B3FB318DB8AC1D2A36DD3EB162A7F287267E4CC
PACKAGE_REGISTRY_TOKEN=*********************
PACKAGE_REGISTRY_TOKEN_MASK=15437EE1B4EEC01C44299F6DEE2353CC0BF3F97A66B101107CA9139F22CF795D

OTEL_SERVICE_NAME=synthetic-test-controller
OTEL_RESOURCE_ATTRIBUTES=application=control-centre-type,deployment.environment=development
OTEL_EXPORTER_OTLP_ENDPOINT=https://collectors.au.sumologic.com/receiver/v1/otlp
X_SUMO_TOKEN=<YOUR_TOKEN>
OTEL_TRACES_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_LOG_LEVEL=debug
OTEL_METRICS_EXPORTER=none
