/automation/
/buildnumber.counter
/manifest.txt
/TasksLocal/
/.vagrant/
/*.gz
/TasksRemote/
/propertiesForLocalTasks/
/propertiesForRemoteTasks/
/release.sh
/propertiesForContainerTasks/
/Dockerfile

# VS Code
/.vscode/
/repository/

# Ignore the archetype generated directory
/smvc/
/test-results/
/target/

bin
.classpath
*.log
.env
